@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0e0e0e;
    --primary: #3c3ffb;
    --highlight-background: #f0f0f0;
  }

  .dark {
    --background: #0e0e0e;
    --foreground: #ededed;
    --primary: #3c3ffb;
    --highlight-background: #010101;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
